.thumbnail {
    height: auto;
    width: 200px;
}

th {
    text-align: center;
    font-size: 2em;
    color: crimson;
}

td {
    height: auto;
    padding: 10px 50px;
    text-align: center;
    margin: 0px;
}

.contenedorTabla {
    height: auto;
    width: 90%;
}

.containerCart {
    display: flex;
    height: auto;
    width: 90%;
    justify-content: center;
    margin: auto;
    padding-top: 100px;
    flex-wrap: wrap;
}

button {
    margin: 5px;
    padding: 10px;
}

.retorno {
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-color: pink;
    border: none;
    margin: 20px auto;
    text-align: center;
    padding: 1rem;
    color: crimson;
}

.retorno:hover {
    background-color: crimson;
}

.btnSeguir {
    height: auto;
    width: 50%;
    border-radius: 20px;
    background-color: pink;
    border: none;
    margin: 20px auto;
    text-align: center;
    padding: 1rem;
}

.btnSeguir:hover {
    color: white;
    background-color: crimson;
}

.vaciar {
    color: white;
    background-color: crimson;
    border: none;
}

.vaciar:hover {
    color: crimson;
    background-color: yellow;
}

.item {
    font-size: 1.5em;
    color: crimson;
}

h4 {
    color: crimson;
}

.btnProducto {
    color: crimson;
    background-color: yellow;
    border: none;
    margin: 2px;
}

.btnProducto:hover {
    background-color: greenyellow;
    color: crimson;
}

.total {
    color: greenyellows;
}

.btnFinalizar{
    height: auto;
    width: 50%;
    border-radius: 20px;
    background-color: #000033;
    border: none;
    margin: 20px auto;
    text-align: center;
    padding: 1rem;
    color: white;
    border: solid #000033 1px;

}

.btnFinalizar:hover {
    color: #000033;
    background-color: white;
    border: solid #000033 1px;
}

.contenedorBtn{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}