.contenedorDetalles {
    margin: 1rem;
    padding: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
    height: auto;
    width: 100%;
}
