.contenedorTxt {
    text-align: center;
}

.itemTitulo {
    font-size: 4em;
    color: #000033;
    margin: 3rem;
    padding: 0.5rem;
}

.contenedorList {
    display: flex;
    width: 80%;
    height: auto;
    margin-top: 5em;
    margin-bottom: 6em;

}
