.color-nav {
    background-color: crimson;
    height: 10vh;
}

.enlaces {
    color: white;
    text-align: center;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem;
}

.enlaces:hover{
    color: yellow;

}

.iconos{
    size: 40px;
}