
.plusCircle,
.minusCircle {
    font-size: 1em;
    border: none;
    margin: 0.2rem;
    border-radius: 50px;
    color: crimson;
}

.minusCircle:hover{
    color: pink;
}

.plusCircle:hover{
    color: pink;
}


.btnCounter {
    border: none;
    background-color: inherit;
}
.counterNumber {
    font-size: 1em;
    color: black;
}

.cardCounter {
    display: flex;
    flex-direction: row;
    background-color: white;
    width: 90%;
    padding: 0.2rem;
    margin: 0.5rem;
    text-align: center;
    align-items:center;
    justify-content: space-evenly;

}

.add {
    height: auto;
    width: 100%;
    border-radius: 20px;
    background-color: pink;
    border: none;
    margin: 20px auto ;
    text-align: center;
    padding: 1rem;
    background-color: crimson;

}

.add:hover{
background-color: crimson;
color:white;
}

.btnTxt{
    font-size: 0.8em;
    text-align: center;
    padding: 0.5rem;
    
}